@import url('../fonts/font-awesome/webfonts/all.min.css');

#hero {
  background-image: url('/img/code-bg.jpg');
  background-size: cover;
}

@media all and (max-width:1023px) {
  #menu{
    position: fixed;
    width: 100vw;
    height:100vh;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1)
  }
  #menu.show {
    transform: translate3d(0vw, 0, 0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Heebo";
    src: url('../fonts/Heebo.woff') format('woff'),
         url('../fonts/Heebo.woff2') format('woff2'),
         url('../fonts/Heebo.ttf') format('truetype');
    font-style:normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Spotnik";
    src: url('../fonts/SPOTNIK.woff') format('woff'),
         url('../fonts/SPOTNIK.woff2') format('woff2'),
         url('../fonts/SPOTNIK.ttf') format('truetype');
    font-style:normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Spotnik";
    src: url('../fonts/SPOTNIKBold.woff') format('woff'),
         url('../fonts/SPOTNIKBold.woff2') format('woff2'),
         url('../fonts/SPOTNIKBold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }
  h1 {
    font-family: 'Spotnik'!important;
    @apply text-3xl;
    @apply py-3;
    @apply font-bold;
  }
  h2 {
    font-family: 'Spotnik' !important;
    @apply text-2xl;
    @apply py-3;
    @apply font-bold;
  }
  p {
    @apply text-xl;
    @apply my-2;
  }
  .btn {
  @apply text-xl; 
  @apply py-2;
  @apply px-4;
  @apply my-3;
  @apply rounded;
  @apply bg-purple;
  @apply hover:bg-purple-dark;
  @apply text-white;
  @apply inline-block;
  }
  .section-content {
    @apply w-11/12 mx-auto;
    @apply py-2;
  }
  .divider {
    @apply border-red;
    @apply border-t-2;
    @apply h-7; 
  }
}