{{ define "main" }}
<article class='flex flex-col justify-center items-center pt-24'>
  <header class='section-content'>
    <h2 class='text-center'>{{ .Title }}</h2>
    <p class='italic text-center text-sm'>Reading time: {{ math.Round (div (countwords .Content) 200.0) }} minutes.</p>
    <hr class='divider'>
  </header>
  <section class='section-content'>
    <div class="mx-auto mb-8 max-w-lg">
      <img class='w-full' alt="{{ .Params.alt_text }}" src="{{ .Params.image }}">
    </div>
    {{ .Content }}
  </section>
</article>

{{- partial "aside.html" . -}}

{{ end }}