{{ define "main" }}

<section class='flex flex-col justify-center items-center pt-4 md:pt-12 lg:pt-14'>
  <div class='section-content'>
    <h2 class='text-center'>{{ .Title }}</h2>
    <hr class='divider'>
    <div class='lg:w-3/4 lg:mx-auto'>

    {{ range (.Paginator 5).Pages }}
      <div class='shadow-3xl p-5 my-4'>
        <a href="{{ .RelPermalink }}" class="text-black hover:text-black hover:underline hover:font-bold"><h3>{{ .Title }}</h3></a>
        <p class='text-red'>{{ .Date.Format "Jan 2, 2006" }} / {{ .Params.duration }} mins</p>
        <p>{{ .Description }}</p>
      </div>
    {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

  {{- partial "aside.html" }}

{{ end }}