{{ define "main" }}

<section class='flex flex-col justify-center items-center pt-24'>
  <div class='section-content mb-6'>
    <h2 class='text-center'>{{ .Title }}</h2>
    <hr class='divider'>
    <!-- Buzzsprout Player -->
    <div id="buzzsprout-player-{{ .Params.id }}"></div>
    <script src="https://www.buzzsprout.com/1214327/{{ .Params.audio_url }}.js?container_id=buzzsprout-player-{{ .Params.id }}&player=small" type="text/javascript" charset="utf-8"></script> 
  </div>
</section>

<section class="flex flex-col bg-white dark:bg-black dark:text-white w-full mb-8">
  <div class="tabset section-content">
    <input class="block absolute -left-full opacity-0" type="radio" name="tabset" id="show-notes" hidden="" checked="">
    <input class="block absolute -left-full  opacity-0" type="radio" name="tabset" id="transcript" hidden="">
    <ul class="relative z-40 list-none flex justify-around -mb-1" hidden="" aria-hidden="true">
      <li><label class="inline-block text-lg pt-1 px-5 font-display font-bold" for="show-notes">Show Notes</label></li>
      <li><label class="inline-block text-lg pt-1 px-5 font-display font-bold" for="transcript">Transcript</label></li>
    </ul>
    <div class="border-grey border-t relative pb-4">
      <section>
        <h3>Show Notes</h3>
        {{ .Params.showNotes | safeHTML }}
      </section>
      <section>
        <h3>Transcript</h3>
        {{ .Content }}
      </section>
    </div>
  </div>
</section>
{{- partial "aside.html" . -}} 
{{ end }}

