<aside class='flex flex-col flex-shrink w-11/12 border-2 border-solid  border-grey mx-auto text-center mt-auto mb-4'>
  <h2 class='pb-0'>Don't miss an episode</h2>
  <p>Subscribe to email updates!</p>
  <form class='flex flex-col w-11/12 mx-auto'>
    <input type="text" placeholder="First Name" name="firstName" id="firstName" class="mb-2">
    <input type="email" placeholder="Email" name="email" id="email">
    <button class='btn md:mx-auto'>Sign Up!</button>
    <!-- @TODO - GET NEWSLETTER SIGN-UP LINK -->
  </form>
</aside>