<footer class='mt-auto'>
  <div class='bg-grey text-white py-4'>
    <section class='section-content flex justify-between lg:w-3/4'>
      <div class='flex flex-col'>
        <p><a class='text-white hover:underline' href="index.html">She Builds With Code</a> &copy;{{ now.Format "2006" }}</p>
        <a href="@TODO" class="text-white hover:underline col-span-2">Privacy Policy</a>
        <a href="@TODO" class="text-white hover:underline col-span-2">Newsletter</a>
        <a href="@TODO" class="text-white hover:underline col-span-2">Contact Me</a>
      </div>
      <div class="flex flex-col">
        <a href="https://twitter.com/SheBuildswCode" aria-label="She Builds With Code on Twitter" class=""><i class="fab fa-twitter-square fa-3x"></i></a>
        <a href="https://facebook.com/SheBuildsWithCode" aria-label="She Builds With Code on Facebook"><i class="fab fa-facebook-square fa-3x"></i></a>
      </div>
        
    </section>
  </div>
</footer>

<script defer language="javascript" type="text/javascript"  src='{{ "/js/custom.js" | urlize | relURL }}'></script>