<div class='w-screen h-auto bg-white dark:bg-black dark:text-white fixed z-50'>
  <header>
    <nav class='container md:py-3 lg:p-5 flex lg:justify-between' role='navigation'>

      <a href='#' class='lg:hidden'><i class='fas fa-bars fa-2x pt-3 pl-3 text-black hover:text-black' id='menuButton' aria-label="Open the menu" aria-controls='menu'></i></a>

      <div id='logo' class='ml-3'>
        <a class="text-black hover:text-black" href='/'><h1>She Builds With Code</h1></a>
      </div>

      <div id='menu' class='flex flex-col lg:flex-row text-4xl bg-white dark:bg-black'>
        
        <a href='#' class='lg:hidden self-end'><i class='far fa-window-close fa-lg pt-4 pr-3 text-black hover:text-black' id="closeButton" aria-label="Close the menu"></i></a>

        <a class='text-black hover:text-black pt-4 pl-3 lg:pl-0 lg:pr-5 hover:underline lg:text-xl' href='/'>
          <i class='fas fa-home pr-1 lg:pr-0'></i>
          Home
        </a>
        <a class='text-black hover:text-black pt-4 pl-3 lg:pl-0 lg:pr-5 hover:underline lg:text-xl' href='/about'>
          <i class='fas fa-info-circle pr-1 lg:pr-0'></i>
          About
        </a>
        <a class='text-black hover:text-black pt-4 pl-3 lg:pl-0 lg:pr-5 hover:underline lg:text-xl' href='/episodes'>
          <i class='fas fa-podcast pr-2 lg:pr-0'></i>
          Episodes
        </a>
        <a class='text-black hover:text-black pt-4 pl-3 lg:pl-0 lg:pr-5 hover:underline lg:text-xl' href='/contact'>
          <i class='fas fa-envelope-open-text pr-1 lg:pr-0'></i>
          Contact Me
        </a>
      </div>
    </nav>
  </header>
</div>